.nav_hamburger { 
    position: absolute;
    transform: translate(270px, 20px);

    @media (min-width: 600px) {
        transform: translate(295px, 20px);
    }

    @media (min-width: 900px) {
        display: none;
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 2.5rem;
    height: 1.5rem;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 2.5rem;
    height: 0.25rem;
    background-color: #001b29;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, background-color;
    transition-duration: 0.15s, .15s;
    transition-timing-function: ease;
}

.hamburger-inner.hamburger--is-active,
.hamburger-inner.hamburger--is-active::before,
.hamburger-inner.hamburger--is-active::after {
    background-color: #001b29;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav_hamburger > input {
    display: block;
    width: 2.5rem;
    height: 1.875rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    margin: 0;
}

.nav_hamburger input:checked ~ .hamburger--spin .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav_hamburger input:checked ~ .hamburger--spin .hamburger-inner::before  {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.nav_hamburger input:checked ~ .hamburger--spin .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}